{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow p-4">

                <h2 class="mb-4 text-center">
                    Criar Conta
                </h2>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Usuário</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        <label>Senha</label>
                        {{ form.password1 }}
                    </div>

                    <div class="mb-3">
                        <label>Confirmar senha</label>
                        {{ form.password2 }}
                    </div>

                    <button class="btn btn-dark w-100">
                        Cadastrar
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}